/* Variables */
:root {
	/* Colors */
	--text:    #323232;
	--textDim: #7F7F7F;
	--bg:      #FFFFFF;

	--color:    #00C7AC;
	--colorDim: #95c7c0;

	--option: #F7F7F7;
	--hover:  rgba(127, 127, 127, 15%);
	--active: rgba(127, 127, 127, 25%);

	--hue: linear-gradient(to right, #FF0000, #FFBF00, #80FF00, #00FF40, #00FFFF, #0040FF, #8000FF, #FF00BF, #FF0000);
	--bgSat: linear-gradient(to right, var(--textDim), hsl(var(--bgHue), 100%, 50%));
	--txSat: linear-gradient(to right, var(--textDim), hsl(var(--txHue), 100%, 50%));
	--bgBri: linear-gradient(to right, #000000, hsl(var(--bgHue), 100%, 50%), #FFFFFF);
	--txBri: linear-gradient(to right, #000000, hsl(var(--txHue), 100%, 50%), #FFFFFF);
	--bgOpa:  linear-gradient(to right, hsla(0, 100%, 100%, 0), hsl(var(--bgHue), 100%, 50%));
	--txOpa:  linear-gradient(to right, hsla(0, 100%, 100%, 0), hsl(var(--txHue), 100%, 50%));



	/* Sizes */
	--rem:    18px;
	--margin: 1rem;

	--border: 0.25rem;

	--circle: 0.75rem;

	--range:             10rem;
	--number:            1.875rem;
	--numberUnit:        0.75rem;
	--numberUnitPadding: 0.375rem;



	/* Transitions */
	--transition: 0.25s;
}
@media (prefers-color-scheme: dark) {
	:root {
		/* Colors */
		--text: #EEEEEE;
		--bg:   #292A2D;

		--colorDim: #00473e;

		--option: #252628;
		--hover:  rgba(127, 127, 127, 10%);
		--active: rgba(127, 127, 127, 20%);
	}
}



/* Fonts */
@font-face {
	font-family: raleway;
	src: url('/assets/raleway.ttf') format('truetype');
	font-display: block;
}



/* Fixes */
* {
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	user-select: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
a {
	color: inherit;
	text-decoration: none;
}
input {
	background: none;
	border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	display: none;
}



/* General */
.hidden, .option.hidden {
	display: none;
}
.flex {
	display: flex;
}
html {
	font-size: var(--rem);
	display: flex;
	justify-content: center;
}
body {
	color: var(--text);
	background-color: var(--bg);
	font-family: raleway, sans-serif;
	font-size: inherit;
	margin: var(--margin);
}
::-webkit-scrollbar {
	width: 0;
	height: 0;
}



/* Header */
header {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: max-content;
}
header img {
	width: var(--margin);
	margin-right: calc(var(--margin) * 0.5);
}
.selection, ::selection {
	color: var(--txSelected);
	background-color: var(--bgSelected);
}



/* Options */
.option {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: calc(var(--rem) * 2);
	padding-left: var(--margin);
	padding-right: var(--margin);
	background-color: var(--option);
	transition: background-color var(--transition);
}
.option {
	cursor: pointer;
	white-space: nowrap;
}
.option:hover, .option:focus-visible, .option:has(:focus-visible) {
	background-color: var(--hover);
}
.option:focus-visible, .option:has(:focus-visible) {
	box-shadow: inset var(--border) 0 0 var(--color);
}
.option:active {
	background-color: var(--active);
}
.option:first-child {
	margin-top: var(--margin);
}
.defaultCursor {
	cursor: default;
}



/* Input */
input {
	color: var(--text);
	background-color: var(--active);
	font-family: raleway, sans-serif;
	font-size: inherit;
}



/* Checkbox */
input[type='checkbox'], input[type='checkbox']::before {
	display: block;
	pointer-events: none;
}
input[type='checkbox'] {
	-webkit-appearance: none;
	width: calc(var(--circle) * 1.5);
	height: calc(var(--circle) * 0.75);
	border-radius: var(--circle);
	background-color: var(--active);
	margin-left: var(--circle);
}
input[type='checkbox']::before {
	content: '';
	width: var(--circle);
	height: var(--circle);
	border-radius: 50%;
	background-color: var(--colorDim);
	margin-top: calc(var(--circle) * -0.125);
	margin-left: calc(var(--circle) * -0.25);
	transition: transform var(--transition);
}
input[type='checkbox']:checked {
	background-color: var(--colorDim);
}
input[type='checkbox']:checked::before {
	background-color: var(--color);
	transform: translateX(var(--circle));
}



/* Range */
input[type='range'] {
	-webkit-appearance: none;
	width: var(--range);
	height: calc(var(--rem) * 2);
	display: block;
	background-color: transparent;
	cursor: pointer;
	margin: 0 var(--margin);
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: var(--circle);
	height: var(--circle);
	border-radius: var(--circle);
	background-color: var(--color);
	margin-top: calc(var(--circle) * -0.125);
	outline: calc(var(--circle) * 0.25) solid var(--option);
}
input[type='range']::-webkit-slider-runnable-track {
	cursor: pointer;
	height: calc(var(--circle) * 0.75);
	border-radius: var(--circle);
	background-color: var(--active);
}



/* Range colors */
.bg input[type='range']::-webkit-slider-thumb {
	background-color: var(--bgNoAlpha);
}
.tx input[type='range']::-webkit-slider-thumb {
	background-color: var(--txNoAlpha);
}
.hue ::-webkit-slider-runnable-track {
	background: var(--hue);
}
#bgSat::-webkit-slider-runnable-track {
	background: var(--bgSat);
}
#txSat::-webkit-slider-runnable-track {
	background: var(--txSat);
}
#bgBri::-webkit-slider-runnable-track {
	background: var(--bgBri);
}
#txBri::-webkit-slider-runnable-track {
	background: var(--txBri);
}
#bgOpa::-webkit-slider-runnable-track {
	background: var(--bgOpa);
}
#txOpa::-webkit-slider-runnable-track {
	background: var(--txOpa);
}



/* Range Numbers */
.rangeNumberAndUnit {
	width: calc(var(--number) + var(--numberUnit));
}
.rangeNumber {
	width: var(--number);
	text-align: right;
	background-color: transparent;
}
.rangeNumberUnit {
	padding-left: calc(var(--numberUnit) * 0.5);
	width: var(--numberUnit);
	color: var(--textDim);
}
.rangeNumberUnit sup {
	padding-top: var(--numberUnitPadding);
}
.rangeNumberUnit small {
	align-self: center;
}
